@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.container{
    font-family: "Tahoma", sans-serif;
    width: 96%;
    max-width: 960px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.counter span{
    font-size: 30px;
    color: #c01134;
}
.sliders-control{
    display: flex;
    justify-content: start;
}
.btn-slider{
    font-size: 18px;
    background-color: #334499;
    color: #fff;
    outline: none;
    border: none;
    padding: 12px;
    margin: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.image-to-show {
    width: 720px;
    height: 405px;
    display: none;
}
.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img.current {
    display: block;
}